{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Sign In Form</title>
  </head>
  <body>
    <div class="projectName">
      <h1>Travel Tactics</h1>
    </div>
    <div class="tagline">
      <h2>Travel Savvy, Travel Happy!</h2>
    </div>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form method="post" action="{% url 'login' %}">
          <h1>Sign In</h1>
          {% csrf_token %}
          <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
          </div>
          <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
          </div>
          <input type="submit" value="Login" />
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Don't have an account?</h1>
            <p>Enter your personal details and start your journey with us</p>
            <a href="{% url 'register' %}" class="ghost">Register</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
