{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Itinerary - Travel Tactics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/iti.css' %}">
</head>
<body>

<header>
    <div class="heading-container">
        <span class="welcome-text">Helloo {{ request.user }} !!</span>
        <img src="{% static 'images/gps.png' %}" alt="Map Icon" class="map-icon">
        <h1 class="heading">Your Adventure Book</h1>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <a href="{% url 'intro' %}" class="home-link">Home</a>
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</header>

<main>
    <div class="delete-container">
        <h2>Are you sure you want to delete "<span class="highlight">{{ itinerary.title }}</span>"?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="delete-button">Yes, Delete</button>
            <a href="{% url 'itinerary_list' %}" class="cancel-button">Cancel</a>
        </form>
    </div>
</main>

<footer>
    <p class="tag-1">Travel Savvy. Travel Happy !!</p>
    <p class="brand">Travel Tactics</p>
</footer>

</body>
</html>